@model EntityLayer.Concrete.Message2

@{
    ViewData["Title"] = "BlogAdd";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yeni Mesaj Oluştur</h1>

@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
{
    @Html.Label("Alıcı")
    @*@Html.TextBoxFor(x => x.ReceiverID, new { @class = "form-control" })*@
    <input type="text" class="form-control"/>
    <br />
    @Html.Label("Konu")
    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    <br />
    @Html.Label("İçerik")
    @Html.TextAreaFor(x => x.MessageDetails, 15, 3, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Mesajı Gönder</button>
}